<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>MCTS-TRAVEL(゜-゜)つロ 干杯~-水树悠太出品</title>
<style type="text/css">
    #prefer_input{width:100px;height:30px;border:1px solid red;position:relative;}</style>
</head>
<body>
    <div id="form">
        <form action="/deal_request" method="get">
            亲子游？<input type="text" value="False" name="q" id="prefer_input"/>
            购物游？<input type="text" value="False" name="q" id="prefer_input"/>
            动漫游？<input type="text" value="False" name="q" id="prefer_input"/>
            夜景游？<input type="text" value="False" name="q" id="prefer_input"/>
            
            <input type="date" value="2021-02-22T08:30:00"/>
            <input type="date" value="2021-02-22T20:30:00"/>


            <input type="submit" value="开始横滨一日游的旅行规划" />
        </form>
    </div>
    <div id="result">
        
    </div>

    
</body>
</html>